
$background_color: #383838;

$timeline_object_highlight: #ff04aa;
$timeline_indicator: #3C4CFF;
$timeline_object_selected: #1bf5f5;
$timeline_background: #F0F0F5;
$timeline_object_effect_background: #5a9aff;

$white: #FFFFFF;
$black: #000000;
