
$background_color: #383838;

$timeline_object_highlight: #ff04aa;
$timeline_indicator: #3C4CFF;
$timeline_object_selected: #f5f12a;
$timeline_background: #F0F0F5;
$timeline_object_effect_background: #5a9aff;
$timeline_border: #686868;

$white: #FFFFFF;
$black: #000000;
