.animation_list_container {
  display: flex;

  .animation_list {
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }

    td, th {
      width: 25%;
    }

    mat-cell {
      cursor: pointer;
    }

    .highlight {
      background: #42A948; /* green */
    }

    .highlightTable {
      opacity: 0.5;
    }

    mat-paginator {
      border-top-width: 1px;
      border-top-style: solid;
      flex: 0 0 auto;
    }

    .mat-column-last_update {
      max-width: 100px;
    }
    .mat-column-remove {
      max-width: 15px;
    }

  }

  bb-animation-canvas {
    //width: calc(100vh - 24px);
  }

  .animation_preview {
    //flex-grow: 2;
    width: calc(100vh - 24px);
    //border: 1px solid deepskyblue;
    display: flex;
    flex-direction: column;
    //height: 100%;

    //height: calc(100vh - 24px);
    //width: 100%;

    .animation_canvas {
    //  align-content: center;
    //  text-align: center;
      height: 100%;
    }
  }

  .animation_details {
    //flex-grow: 2;
    width: 350px;
  }

}
