<div class="animation_edit_container">
  <div class="animation_edit_top">
    <div class="left_container">Bla</div>
    <div class="animation_canvas">
      <bb-animation-canvas></bb-animation-canvas>
    </div>
    <bb-animation-draw-tools></bb-animation-draw-tools>
  </div>
  <div class="animation_edit_bottom"
       mwlResizable
       (resizing)="handleResizing($event)"
       [resizeEdges]="{top: true}"
       [ngStyle]="{'height.px' : height}">
    <bb-timeline [timelineRows]="timelineRows"
                 (indicatorPosition)="setIndicatorPosition($event)"
                 (timelineRowChanged)="handleTimelineRowChanged($event)"
                 (timelineRowDeleted)="handleTimelineRowDeleted($event)"></bb-timeline>
  </div>
</div>
