<div class="animation_draw_tools">
  <mat-button-toggle-group (change)="selectTool($event)" #drawToolGroup [value]="activeTool">
    <mat-button-toggle value="selectTool">
      <mat-icon>edit</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="boxTool">
      <mat-icon>border_style</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="lineTool">
      <mat-icon>timeline</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="moveTool">
      <mat-icon>open_with</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
