@import "../../../styles";

.timeline-row-object-effects {
  display: inline-block;
  position: absolute;
  top: 20px;
  height: 100px;
  border: 1px solid black;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      height: 15px;
    }
  }
}

.timeline-row-object {
  //top: 2px;
  display: inline-block;
  position: absolute;
  height: 20px;
  background-color: #F0FFE0;
  border: 1px solid #7A995C;
  cursor: move;
}
.timeline-row-object:hover {
  top: 1px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(49, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(49, 50, 50, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(49, 50, 50, 0.75);
  z-index: 100;
}
.highlight {
  top: 1px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(49, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(49, 50, 50, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(49, 50, 50, 0.75);
  z-index: 100;
}

.selected {
  border: 2px dotted $timeline_object_selected;
}

.left {
  left: 0;
  display: inline-block;
  height: 100%;
  width: 15px;
}

.left:hover {
  background: $timeline_object_highlight;
  /* Old browsers */
  background: -moz-linear-gradient(left, $timeline_object_highlight 0%, $white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $timeline_object_highlight), color-stop(100%, $white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $timeline_object_highlight 0%, $white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $timeline_object_highlight 0%, $white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $timeline_object_highlight 0%, $white 100%);
  /* IE10+ */
  background: linear-gradient(to right, $timeline_object_highlight 0%, $white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='$white', GradientType=1);
  /* IE6-9 */
}

.left.cursor {
  cursor: ew-resize;
}

.center {
  display: inline-block;
  height: 100%;
  width: calc(100% - 30px);
}

.right {
  right: 0;
  display: inline-block;
  height: 100%;
  width: 15px;
}

.right:hover {
  background: $white;
  /* Old browsers */
  background: -moz-linear-gradient(left, $white 0%, $timeline_object_highlight 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $timeline_object_highlight), color-stop(100%, $timeline_object_highlight));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $white 0%, $timeline_object_highlight 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $white 0%, $timeline_object_highlight 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $white 0%, $timeline_object_highlight 100%);
  /* IE10+ */
  background: linear-gradient(to right, $white 0%, $timeline_object_highlight 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='$timeline_object_highlight', GradientType=1);
  /* IE6-9 */
}

.right.cursor {
  cursor: ew-resize;
}
